<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html><head><meta name="qrichtext" content="1" /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><style type="text/css">
p, li { white-space: pre-wrap; }
</style></head><body style=" font-family:'DejaVu Sans'; font-size:11pt; font-weight:400; font-style:normal;">
<p align="center" style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-weight:600;">Синтаксис шаблонов</span></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" text-decoration: underline;">Текст</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Наиболее простой способ связывания данных — это текстовая интерполяция с использованием синтаксиса Mustache (двойных фигурных скобок):</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009;">&lt;span&gt;Сообщение: </span><span style=" font-family:'FreeMono'; font-weight:600; color:#6a1009;">{{</span><span style=" font-family:'FreeMono'; color:#6a1009;"> msg </span><span style=" font-family:'FreeMono'; font-weight:600; color:#6a1009;">}}</span><span style=" font-family:'FreeMono'; color:#6a1009;">&lt;/span&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-style:italic;">или v-text=&quot;hello_string&quot;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Возможно также выполнение <span style=" font-style:italic;">однократной</span> интерполяции, которая не обновится при изменении данных — используйте для этой цели директиву <span style=" font-weight:600;">v-once</span>:</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009;">&lt;span </span><span style=" font-family:'FreeMono'; font-weight:600; color:#6a1009;">v-once</span><span style=" font-family:'FreeMono'; color:#6a1009;">&gt;Это сообщение никогда не изменится: {{ msg }}&lt;/span&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" text-decoration: underline;">Сырой HTML</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Значение выражения, обрамлённого двойными фигурными скобками, подставляется как простой текст, а не как HTML. Если вы хотите вывести HTML, вам понадобится директива <span style=" font-weight:600;">v-htm</span>l:</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009;">&lt;div </span><span style=" font-family:'FreeMono'; font-weight:600; color:#6a1009;">v-html</span><span style=" font-family:'FreeMono'; color:#6a1009;">=&quot;rawHtml&quot;&gt;&lt;/div&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Содержимое этого <span style=" font-family:'FreeMono'; color:#6a1009;">div</span> будет заменено значением свойства <span style=" font-family:'FreeMono'; color:#6a1009;">rawHtml</span>, интерпретированного как обычный HTML — все привязки данных игнорируются. </p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" text-decoration: underline;">Атрибуты</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Синтаксис двойных фигурных скобок не работает с HTML-атрибутами, используйте вместо него директиву <span style=" font-weight:600;">v-bind</span>:</p>
<table border="0" style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px;" cellspacing="2" cellpadding="0">
<tr>
<td bgcolor="#f8f8f8">
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009; background-color:#f8f8f8;">&lt;div </span><span style=" font-family:'FreeMono'; font-weight:600; color:#6a1009; background-color:#f8f8f8;">v-bind</span><span style=" font-family:'FreeMono'; color:#6a1009; background-color:#f8f8f8;">:id=&quot;dynamicId&quot;&gt;&lt;/div&gt;</span></p></td></tr></table>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">С булевыми атрибутами этот метод тоже работает. Если переданное свойство ложное, атрибут будет удалён полностью:</p>
<table border="0" style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px;" cellspacing="2" cellpadding="0">
<tr>
<td bgcolor="#f8f8f8">
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009; background-color:#f8f8f8;">&lt;button </span><span style=" font-family:'FreeMono'; font-weight:600; color:#6a1009; background-color:#f8f8f8;">v-bind</span><span style=" font-family:'FreeMono'; color:#6a1009; background-color:#f8f8f8;">:disabled=&quot;isButtonDisabled&quot;&gt;Кнопка&lt;/button&gt;</span></p></td></tr></table>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" text-decoration: underline;">Использование выражений JavaScript</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">При связывании данных Vue поддерживает выражения JavaScript:</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009; background-color:#ffffff;">{{ number + 1 }}</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009; background-color:#ffffff;">{{ ok ? 'YES' : 'NO' }}</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009; background-color:#ffffff;">{{ message.split('').reverse().join('') }}</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009; background-color:#ffffff;">&lt;div v-bind:id=&quot;'list-' + id&quot;&gt;&lt;/div&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Допускается только одно выражение, так что код ниже НЕ сработает:</p>
<table border="0" style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px;" cellspacing="2" cellpadding="0">
<tr>
<td bgcolor="#f8f8f8">
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;!-- это не вычисляемое выражение, а определение переменной: --&gt;</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009; background-color:#f8f8f8;">{{ var a = 1 }}</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;!-- операторы условий тоже не сработают, используйте тернарные выражения: --&gt;</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009; background-color:#f8f8f8;">{{ if (ok) { return message } }}</span></p></td></tr></table>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-weight:600;">Директивы</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Директивы — это специальные атрибуты с префиксом <span style=" font-weight:600;">v-</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009;">&lt;p </span><span style=" font-family:'FreeMono'; font-weight:600; color:#6a1009;">v-if</span><span style=" font-family:'FreeMono'; color:#6a1009;">=&quot;seen&quot;&gt;Сейчас меня видно&lt;/p&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">В данном случае директива <span style=" font-weight:600;">v-if</span> удалит или вставит элемент <span style=" font-family:'FreeMono'; color:#6a1009;">&lt;p&gt;</span> в зависимости от истинности значения выражения seen.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-weight:600;">Аргументы</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Некоторые директивы могут принимать “аргумент”, разделённый с названием директивы двоеточием. Например, директива <span style=" font-weight:600;">v-bind</span> используется для реактивного обновления атрибутов HTML:</p>
<table border="0" style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px;" cellspacing="2" cellpadding="0">
<tr>
<td bgcolor="#f8f8f8">
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009; background-color:#f8f8f8;">&lt;a </span><span style=" font-family:'FreeMono'; font-weight:600; color:#6a1009; background-color:#f8f8f8;">v-bind</span><span style=" font-family:'FreeMono'; color:#6a1009; background-color:#f8f8f8;">:href=&quot;url&quot;&gt;&lt;/a&gt;</span></p></td></tr></table>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-weight:600;">Модификаторы</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Модификаторы — это особые постфиксы, добавляемые после точки, которые указывают, что директива должна быть связана каким-то определённым образом.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Например, модификатор <span style=" font-weight:600;">.prevent</span> говорит директиве <span style=" font-weight:600;">v-on</span> вызвать event.preventDefault() при обработке произошедшего события:</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009;">&lt;form </span><span style=" font-family:'FreeMono'; font-weight:600; color:#6a1009;">v-on:</span><span style=" font-family:'FreeMono'; color:#6a1009;">submit</span><span style=" font-family:'FreeMono'; font-weight:600; color:#6a1009;">.prevent</span><span style=" font-family:'FreeMono'; color:#6a1009;">=&quot;onSubmit&quot;&gt;&lt;/form&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-weight:600;">Фильтры</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Для распространённых задач форматирования текста во Vue используются <span style=" font-weight:600;">фильтры</span>. Они находят своё применение в двух местах: в<span style=" text-decoration: underline;"> mustache-интерполяциях</span> и в <span style=" text-decoration: underline;">выражениях v-bind</span>. Фильтры добавляются в конце выражения JavaScript и отделяются вертикальной чертой:</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;!-- mustache --&gt;</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009;">{{ message </span><span style=" font-family:'FreeMono'; font-weight:600; color:#6a1009;">| capitalize</span><span style=" font-family:'FreeMono'; color:#6a1009;"> }}</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;!-- v-bind --&gt;</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009;">&lt;div v-bind:id=&quot;rawId </span><span style=" font-family:'FreeMono'; font-weight:600; color:#6a1009;">| formatId</span><span style=" font-family:'FreeMono'; color:#6a1009;">&quot;&gt;&lt;/div&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Функция фильтра всегда принимает значение выражения (результат предыдущей цепочки) в качестве первого аргумента.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Фильтры можно объединять в цепочки:</p>
<table border="0" style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px;" cellspacing="2" cellpadding="0">
<tr>
<td bgcolor="#f8f8f8">
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009; background-color:#f8f8f8;">{{ message </span><span style=" font-family:'FreeMono'; font-weight:600; color:#6a1009; background-color:#f8f8f8;">| filterA | filterB</span><span style=" font-family:'FreeMono'; color:#6a1009; background-color:#f8f8f8;"> }}</span></p></td></tr></table>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Фильтры являются JavaScript-функциями, и потому могут принимать параметры:</p>
<table border="0" style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px;" cellspacing="2" cellpadding="0">
<tr>
<td bgcolor="#f8f8f8">
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009; background-color:#f8f8f8;">{{ message </span><span style=" font-family:'FreeMono'; font-weight:600; color:#6a1009; background-color:#f8f8f8;">| filterA('arg1', arg2)</span><span style=" font-family:'FreeMono'; color:#6a1009; background-color:#f8f8f8;"> }}</span></p></td></tr></table>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-weight:600;">Сокращения</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Vue предоставляет специальные сокращения для двух наиболее часто используемых директив, <span style=" font-weight:600;">v-bind</span> и <span style=" font-weight:600;">v-on </span>:</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" text-decoration: underline;">Сокращение v-bind</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;!-- полный синтаксис --&gt;</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009;">&lt;a v-bind:href=&quot;url&quot;&gt;&lt;/a&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;!-- сокращение --&gt;</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009;">&lt;a </span><span style=" font-family:'FreeMono'; font-weight:600; color:#6a1009;">:</span><span style=" font-family:'FreeMono'; color:#6a1009;">href=&quot;url&quot;&gt;&lt;/a&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" text-decoration: underline;">Сокращение v-on</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;!-- полный синтаксис --&gt;</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009;">&lt;a v-on:click=&quot;doSomething&quot;&gt;&lt;/a&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;!-- сокращение --&gt;</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-family:'FreeMono'; color:#6a1009;">&lt;a </span><span style=" font-family:'FreeMono'; font-weight:600; color:#6a1009;">@</span><span style=" font-family:'FreeMono'; color:#6a1009;">click=&quot;doSomething&quot;&gt;&lt;/a&gt;</span></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p></body></html>