<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html><head><meta name="qrichtext" content="1" /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><style type="text/css">
p, li { white-space: pre-wrap; }
</style></head><body style=" font-family:'MS Shell Dlg 2'; font-size:11pt; font-weight:400; font-style:normal;">
<p align="center" style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-weight:600;">Работа с формами</span></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; font-weight:600;"><br /></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Для двунаправленного связывания данных с элементами форм <span style=" color:#6a1009;">input</span> и <span style=" color:#6a1009;">textarea</span> используется директива <span style=" font-weight:600;">v-model </span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" text-decoration: underline;">Текст</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;input </span><span style=" font-weight:600; color:#6a1009;">v-model</span><span style=" color:#6a1009;">=&quot;message&quot; placeholder=&quot;отредактируй меня&quot;&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;p&gt;Введённое сообщение: {{ message }}&lt;/p&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" text-decoration: underline;">Чекбоксы</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">При постановке галочки, если в модели указано просто свойство, а не массив, в него попадёт <span style=" font-weight:600;">true</span> или <span style=" font-weight:600;">false</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;input type=&quot;</span><span style=" font-weight:600; color:#6a1009;">checkbox</span><span style=" color:#6a1009;">&quot; id=&quot;checkbox&quot; </span><span style=" font-weight:600; color:#6a1009;">v-model</span><span style=" color:#6a1009;">=&quot;checked&quot;&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;label for=&quot;checkbox&quot;&gt;{{ checked }}&lt;/label&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Несколько чекбоксов привязанных к массиву. При постановке галочки <span style=" font-weight:600;">value</span> чекбокса попадает в массив.</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;input type=&quot;</span><span style=" font-weight:600; color:#6a1009;">checkbox</span><span style=" color:#6a1009;">&quot; id=&quot;jack&quot; </span><span style=" font-weight:600; color:#6a1009;">value</span><span style=" color:#6a1009;">=&quot;Jack&quot; </span><span style=" font-weight:600; color:#6a1009;">v-model</span><span style=" color:#6a1009;">=&quot;checkedNames&quot;&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;label for=&quot;jack&quot;&gt;Jack&lt;/label&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;input type=&quot;</span><span style=" font-weight:600; color:#6a1009;">checkbox</span><span style=" color:#6a1009;">&quot; id=&quot;john&quot; </span><span style=" font-weight:600; color:#6a1009;">value</span><span style=" color:#6a1009;">=&quot;John&quot; </span><span style=" font-weight:600; color:#6a1009;">v-model</span><span style=" color:#6a1009;">=&quot;checkedNames&quot;&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;label for=&quot;john&quot;&gt;John&lt;/label&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;input type=&quot;</span><span style=" font-weight:600; color:#6a1009;">checkbox</span><span style=" color:#6a1009;">&quot; id=&quot;mike&quot; </span><span style=" font-weight:600; color:#6a1009;">value</span><span style=" color:#6a1009;">=&quot;Mike&quot; </span><span style=" font-weight:600; color:#6a1009;">v-model</span><span style=" color:#6a1009;">=&quot;checkedNames&quot;&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;label for=&quot;mike&quot;&gt;Mike&lt;/label&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" text-decoration: underline;">Радиокнопки</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">В модель попадёт значение value</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;input type=&quot;</span><span style=" font-weight:600; color:#6a1009;">radio</span><span style=" color:#6a1009;">&quot; id=&quot;one&quot; value=&quot;One&quot; </span><span style=" font-weight:600; color:#6a1009;">v-model</span><span style=" color:#6a1009;">=&quot;picked&quot;&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;label for=&quot;one&quot;&gt;One&lt;/label&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;input type=&quot;</span><span style=" font-weight:600; color:#6a1009;">radio</span><span style=" color:#6a1009;">&quot; id=&quot;two&quot; value=&quot;Two&quot; </span><span style=" font-weight:600; color:#6a1009;">v-model</span><span style=" color:#6a1009;">=&quot;picked&quot;&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;label for=&quot;two&quot;&gt;Two&lt;/label&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" text-decoration: underline;">Селект</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">При выборе одного из вариантов в модель попадает содержимое <span style=" font-weight:600;">option</span> или <span style=" font-weight:600;">value</span>, если оно указано</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;select v-model=&quot;</span><span style=" font-weight:600; color:#6a1009;">selected</span><span style=" color:#6a1009;">&quot;&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">  &lt;</span><span style=" font-weight:600; color:#6a1009;">option</span><span style=" color:#6a1009;"> disabled value=&quot;&quot;&gt;Выберите один из вариантов&lt;/option&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">  &lt;</span><span style=" font-weight:600; color:#6a1009;">option</span><span style=" color:#6a1009;"> value=&quot;test&quot;&gt;A&lt;/option&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">  &lt;</span><span style=" font-weight:600; color:#6a1009;">option</span><span style=" color:#6a1009;">&gt;B&lt;/option&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">  &lt;</span><span style=" font-weight:600; color:#6a1009;">option</span><span style=" color:#6a1009;">&gt;C&lt;/option&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;/</span><span style=" font-weight:600; color:#6a1009;">select</span><span style=" color:#6a1009;">&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Выбор нескольких вариантов из списка (с привязкой к массиву). Если установлен <span style=" font-weight:600;">multiple</span>, модель становится массивом и в неё помещаются значения <span style=" font-weight:600;">option</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;</span><span style=" font-weight:600; color:#6a1009;">select</span><span style=" color:#6a1009;"> v-model=&quot;selected&quot; </span><span style=" font-weight:600; color:#6a1009;">multiple</span><span style=" color:#6a1009;">&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">  &lt;</span><span style=" font-weight:600; color:#6a1009;">option</span><span style=" color:#6a1009;">&gt;A&lt;/option&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">  &lt;</span><span style=" font-weight:600; color:#6a1009;">option</span><span style=" color:#6a1009;">&gt;B&lt;/option&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">  &lt;</span><span style=" font-weight:600; color:#6a1009;">option</span><span style=" color:#6a1009;">&gt;C&lt;/option&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;/</span><span style=" font-weight:600; color:#6a1009;">select</span><span style=" color:#6a1009;">&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Можно формировать опции динамически</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;select v-model=&quot;selected&quot;&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">  &lt;option </span><span style=" font-weight:600; color:#6a1009;">v-for</span><span style=" color:#6a1009;">=&quot;option in options&quot; v-bind:value=&quot;</span><span style=" font-weight:600; color:#6a1009;">option.value</span><span style=" color:#6a1009;">&quot;&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">    {{ </span><span style=" font-weight:600; color:#6a1009;">option.text </span><span style=" color:#6a1009;">}}</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">  &lt;/option&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;/select&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">new Vue({</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">  el: '...',</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">  data: {</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">    selected: 'A',</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">    </span><span style=" font-weight:600; color:#6a1009;">options</span><span style=" color:#6a1009;">: [</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">      { text: 'One', value: 'A' },</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">      { text: 'Two', value: 'B' },</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">      { text: 'Three', value: 'C' }</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">    ]</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">  }</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">})</span></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; color:#6a1009;"><br /></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-weight:600;">Динамическое свойство в качестве значения инпута</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">Можно реализовтаь с помощью <span style=" font-weight:600;">v-bind</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;input</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">  type=&quot;checkbox&quot;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">  v-model=&quot;toggle&quot;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">  </span><span style=" font-weight:600; color:#6a1009;">v-bind</span><span style=" color:#6a1009;">:true-value=&quot;</span><span style=" font-weight:600; color:#6a1009;">a</span><span style=" color:#6a1009;">&quot;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">  </span><span style=" font-weight:600; color:#6a1009;">v-bind</span><span style=" color:#6a1009;">:false-value=&quot;</span><span style=" font-weight:600; color:#6a1009;">b</span><span style=" color:#6a1009;">&quot;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">// если отмечено:</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">vm.toggle === vm.</span><span style=" font-weight:600; color:#6a1009;">a</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">// если отметка снята:</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">vm.toggle === vm.</span><span style=" font-weight:600; color:#6a1009;">b</span></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px; color:#6a1009;"><br /></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" font-weight:600;">Модификаторы</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">.</span><span style=" font-weight:600; color:#6a1009;">lazy</span> позволяет не обновлять все значения на странице при изменении их модели</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;">&lt;!-- синхронизируется после &quot;change&quot;, а не &quot;input&quot; --&gt;</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;input v-model.</span><span style=" font-weight:600; color:#6a1009;">lazy</span><span style=" color:#6a1009;">=&quot;msg&quot; &gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">.</span><span style=" font-weight:600; color:#6a1009;">number</span> конвертирует значение инпута в цифру</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;input v-model.</span><span style=" font-weight:600; color:#6a1009;">number</span><span style=" color:#6a1009;">=&quot;age&quot; type=&quot;number&quot;&gt;</span></p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">.</span><span style=" font-weight:600; color:#6a1009;">trim</span> автоматически вырезает пробелы в наале и конце строки</p>
<p style=" margin-top:0px; margin-bottom:0px; margin-left:20px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><span style=" color:#6a1009;">&lt;input v-model.</span><span style=" font-weight:600; color:#6a1009;">trim</span><span style=" color:#6a1009;">=&quot;msg&quot;&gt;</span></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p>
<p style="-qt-paragraph-type:empty; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-indent:0; text-indent:0px;"><br /></p></body></html>